<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
<div align=center>
	<h2>Log</h2>
    {% if log %}
        <table style="width:50%">
            <tr>
                <th>Content</th>
                <th>Model</th>
                <th>Time</th>
            </tr>
            {% for record_log in log %}
            <tr align=center>
                <td>{{ record_log.content }}</td>
                <td>{{ record_log.model }}</td>
                <td>{{ record_log.time }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Try Again!</p>
    {% endif %}
</div>
</body>
</html>
