<!DOCTYPE html>
<html>
<body>
<div align=center>
	<h2>Staff Information</h2>

    {% if not staff %}
        <div align=center>
            <form action="{% url 'submit' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="name">Name:</label>
                <input id='name' type="text" name="name"><br><br>

                <label for="gender">Gender:</label>
                    <select name="gender" id="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select><br><br>

                <label>Avatar:</label>
                <input id="id_avatar" name="avatar" type="file" accept="image/*" onchange="loadFile(event)"><br>
                <p><img id="output" width="300"/></p>

                <input type="submit" value="Submit">
            </form>
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
        </div>
    {% elif staff %}
        <div align=center>
            <label for="name">Name: {{ staff.name }}</label><br><br>

            <label for="gender">Gender: {{ staff.gender }}</label><br><br>

            <label>Avatar:</label><br>
            <img src={{staff.avatar}} width="300"/><br><br>
        </div>

        <form id='done' action="{% url 'show' staff.id %}" method="get"></form>
        <form id='back' action="{% url 'info' staff.id %}" method="get"></form>

        <input id='back' form='back' type="submit" value="Back">
        <input id='done' form='done' type="submit" value="Done" >
    {% endif %}
</div>
</body>
<script>
    var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
</html>
