<!DOCTYPE html>
<html>
<body>
<div align=center>
	<h2>Staff Information</h2>

    {% if staff %}
        <div align=center>
            <form action="{% url 'update' staff.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="name">Name:</label>
                <input id='name' type="text" name="name" value={{ staff.name }}><br><br>

                <label for="gender">Gender:</label>
                    <select name="gender" id="gender">
                        {% if staff.gender == 'Male'%}
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        {% else %}
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                        {% endif %}
                    </select><br><br>

                <label>Avatar:</label>
                <input id="id_avatar" name="avatar" type="file" accept="image/*" onchange="loadFile(event)"><br>
                <p><img id="output" src={{staff.avatar}} width="300"/></p>

                <input type="submit" value="Submit">
            </form> 
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
        </div>
    {% endif %}
</div>
</body>
<script>
    var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
</html>
